body{
    margin:0;
    padding:0;
    background-image: url(/img/blue_black_lines_shades_dark_background_hd_black-1920x1080.jpg);
    font-family: 'Acme';
    background-repeat: no-repeat;
    overflow: hidden;
  }

